<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="UTF-8"/>
    <title>ultra-table demo</title>
    <link rel="stylesheet" href="ultra-table.css" />
    <link rel="stylesheet" href="demo.css" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="ultra-table.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-controller="MainController">
    <h1>ultra-table demo</h1>

    <ultra-table table-class="demo-table" columns="columns" rows="rows">
      <ut-th column-id="firstName">
        <span class="left-indicator">&lt;</span>
        FFFF First Name {{ 1 + 1 }}
        <span class="right-indicator">&gt;</span>
      </ut-th>
      <ut-th column-id="birthday">
        <span class="left-indicator">&lt;</span>
        BBBB Brithday {{ 2 + 3 }}
        <span class="right-indicator">&gt;</span>
      </ut-th>
      <ut-th column-id="favouriteFood">
        <span class="left-indicator">&lt;</span>
        FFOO Favourite Food {{ 3 + 4 }}
        <span class="right-indicator">&gt;</span>
      </ut-th>

      <ut-td column-id="firstName">
        [[ {{ row.firstName }} ]]
      </ut-td>
      <ut-td column-id="birthday">
        {{ row.birthday | date:'short'}}
      </ut-td>
      <ut-td column-id="favouriteFood">
        {{ row.favouriteFood }}
      </ut-td>
    </ultra-table>

    <div>
      <button ng-click="shuffleColumnOrder()">Shuffle Columns</button>
      <button ng-click="shuffleNames()">Shuffle Names</button>
      <button ng-click="shuffleRows()">Shuffle Rows</button>
      <button ng-click="growColumns()">++column width</button>
      <button ng-click="shrinkColumns()">--column width</button>
    </div>

    <div>
      <h2>$scope.columns</h2>
      <pre>{{ columns | json }}</pre>
    </div>

    <div>
      <h2>$scope.rows</h2>
      <pre>{{ rows | json }}</pre>
    </div>
  </body>
</html>
