<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="ultra-table.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-controller="MainController">
    <h1>ultra-table demo</h1>

    <ultra-table columnsDraggable="false" sort="sort" columns="columns" rows="rows">
      <ut-cell column-id="firstName">
        [[ {{ row.firstName }} ]]
      </ut-cell>
      <ut-cell column-id="birthday">
        {{ row.birthday | date:'short'}}
      </ut-cell>
    </ultra-table>

    <div>
      <button ng-click="shuffleColumnOrder()">Shuffle Columns</button>
      <button ng-click="shuffleNames()">Shuffle Names</button>
    </div>

    <div>
      <h2>$scope.columns</h2>
      <pre>{{ columns | json }}</pre>
    </div>

    <div>
      <h2>$scope.rows</h2>
      <pre>{{ rows | json }}</pre>
    </div>
  </body>
</html>
