ultra-table th {
    cursor: default;
}

ultra-table .left-indicator, ultra-table .right-indicator {
    display: none;
}

ultra-table .ut-drop-column-left, ultra-table .ut-drop-column-right {
    background-color: #88ff88;
}

ultra-table .ut-drop-column-left .left-indicator, ultra-table .ut-drop-column-right .right-indicator {
    display: inline;
}

ultra-table .ut-column-resize-dragger {
    cursor: col-resize;
    float: right;
    background-color: red;
    width: 5px;
    height: 24px;
}